html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  width: 100%;
}
body {
  text-transform: none;
  text-decoration: none;
  word-wrap: normal;
  font-variant: normal;
  font-style: normal;
  color: black;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica Neue, sans-serif;
  font-size: 0.76em;
  font-weight: 400;
  margin: 0px;
  padding: 0;
  text-align: left;
}
a {
  color: #021799;
}
a:hover {
  color: #031fcb;
}
a:active {
  color: #021799;
}
a:visited {
  color: #010f67;
}
a:visited:hover {
  color: #021799;
}
.breadcrumb {
  display: none;
}
.header {
  border-top: 2px solid #021799;
  height: 200px;
  position: relative;
  clear: both;
  background-color: #FFF;
}
.header .headerContent {
  position: relative;
  margin: 0 10.9%;
  max-width: 1024px;
  text-align: left;
}
.header .headerTitleArea {
  margin-left: 230px;
  padding-top: 82px;
}
.header .headerTitleArea h1 {
  color: #010f67;
  font-weight: normal;
  font-size: 2.2em;
  padding: 0;
  margin: 0 0 12px 0;
}
.header .headerTitleArea h1 a {
  color: #010f67;
  text-decoration: none;
}
.header .headerTitleArea h1 a:hover {
  color: #010f67;
  text-decoration: none;
}
.header .logo {
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
  width: 208px;
  height: 132px;
  background-image: url("resources/logo-220x132.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 208px 132px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .header .logo {
    background-image: url("resources/logo-440x264.png");
  }
}
@media screen and (max-width: 770px) and (min-width: 620px) {
  .header .logo {
    width: 168px;
    height: 101px;
    background-size: 168px 101px;
  }
  .header .headerTitleArea {
    margin-left: 186px;
    padding-top: 70px;
  }
  .header .headerTitleArea h1 {
    font-size: 1.6em;
    margin: 0 0 6px 0;
  }
}
@media screen and (max-width: 620px) and (min-width: 440px) {
  .header {
    height: 100px;
    background-size: cover;
    background-position: calc( 4.9%  - 77px) top;
  }
  .header .headerContent {
    margin: 0 4.7%;
  }
  .header .logo {
    width: 104px;
    height: 66px;
    top: 15px;
    background-size: 104px 66px;
    background-image: url("resources/logo-110x66.png");
  }
  .header .headerTitleArea {
    margin-left: 122px;
    padding-top: 38px;
  }
  .header .headerTitleArea h1 {
    font-size: 1.4em;
    margin: 0 0 4px 0;
  }
  .header .headerContent a {
    font-size: 0.9em;
    margin: 0 0 4px 0;
  }
}
@media screen and (max-width: 440px) {
  .header {
    height: 100px;
    background-size: cover;
    background-position: calc( 4.9%  - 77px) top;
  }
  .header .headerContent {
    margin: 0 4.7%;
  }
  .header .logo {
    width: 104px;
    height: 66px;
    top: 15px;
    background-size: 104px 66px;
    background-image: url("resources/logo-110x66.png");
  }
  .header .headerTitleArea {
    margin-left: 112px;
    margin-right: 70px;
    padding-top: 41px;
  }
  .header .headerTitleArea h1 {
    display: block;
    font-size: 1.4em;
    margin: 0 0 4px 0;
    line-height: 0.9em;
  }
  .header .headerContent a {
    font-size: 0.9em;
    margin: 0 0 4px 0;
  }
}
@media screen and (max-width: 320px) {
  .header .headerTitleArea {
    padding-top: 31px;
  }
}
@media screen and (max-width: 620px) and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .header .logo {
    background-image: url("resources/logo-220x132.png");
  }
}
.mainMenuDivider {
  border-top: 2px solid #c8cfea;
}
.mainMenu {
  position: relative;
  text-align: right;
  margin: 0 10.9%;
  padding: 0;
  height: 0;
  background-color: transparent;
}
.mainMenu .menuButton {
  display: none;
  text-align: center;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 12px;
  color: #021799;
  border: 1px solid #021799;
  position: absolute;
  right: 4.9%;
  top: -70px;
}
.mainMenu .menuButton:hover {
  color: #031fcb;
  border: 1px solid #031fcb;
  background-color: rgba(2, 23, 153, 0.1);
}
@media screen and (max-width: 620px) {
  .mainMenu .menuButton {
    display: block;
  }
}
.mainMenu .menuItems {
  display: block;
  position: absolute;
  right: 0;
  bottom: 18px;
  box-sizing: border-box;
  transition: none 0;
}
.mainMenu .menuItems ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: block;
}
.mainMenu .menuItems ul li {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
}
.mainMenu .menuItems ul li a {
  box-sizing: border-box;
  color: #021799;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  background-position: right top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 4px 0;
}
.mainMenu .menuItems ul li a span {
  box-sizing: border-box;
  display: inline-block;
}
.mainMenu .menuItems ul li a:hover {
  color: #0320d5;
  background-color: transparent;
  text-decoration: none;
}
.mainMenu .menuItems ul li a.arrowIcon span:after {
  content: url("resources/blank.gif");
  display: inline-block;
  padding-left: 8px;
  vertical-align: baseline;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("resources/double-arrow-blue.svg");
  background-size: 16px 16px;
  background-position: right center;
  background-repeat: no-repeat;
}
.mainMenu .menuItems ul li a.arrowIcon:hover span:after {
  background-image: url("resources/double-arrow-blue.svg");
}
.mainMenu .menuItems ul li a.rssFeed span:after {
  content: url("resources/blank.gif");
  display: inline-block;
  padding-left: 8px;
  vertical-align: baseline;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("resources/rss-blue.svg");
  background-size: 16px 16px;
  background-position: right center;
  background-repeat: no-repeat;
}
.mainMenu .menuItems ul li a.rssFeed:hover span:after {
  background-image: url("resources/rss-blue.svg");
}
@media screen and (max-width: 620px) {
  .mainMenu .menuItems ul li a {
    width: 100%;
    background-color: white;
    padding: 16px 4.9%;
  }
  .mainMenu .menuItems ul li a:hover {
    background-color: #edeff8;
  }
}
@media screen and (max-width: 620px) {
  .mainMenu .menuItems ul li {
    border-bottom: 2px solid #c8cfea;
  }
}
@media screen and (max-width: 620px) {
  .mainMenu {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .mainMenu .menuItems {
    display: none;
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  .mainMenu.menuOpen {
    height: auto;
  }
  .mainMenu.menuOpen .menuItems {
    display: block;
    position: relative;
    right: auto;
    bottom: auto;
  }
}
.entry + .entry {
  border-top: 2px solid #c8cfea;
}
.entryContent {
  font-size: 1.8em;
  line-height: 1.8em;
  padding: 1.25em 0;
}
.entryContent h1 {
  color: #010f67;
  font-weight: 600;
  font-size: 1.4em;
  margin: 0.6em 0;
  padding: 0 10.9%;
}
.entryContent h1 a {
  color: #010f67;
  text-decoration: none;
}
.entryContent h1 a:visited {
  color: #010f67;
}
.entryContent h1 a:hover {
  color: #021799;
  text-decoration: underline;
}
@media screen and (max-width: 620px) {
  .entryContent h1 {
    font-size: 1.2em;
    padding: 0 4.9%;
  }
}
.entryContent h2 {
  color: #010f67;
  font-weight: 600;
  font-size: 1.2em;
  margin: 0.6em 0;
  padding: 0 10.9%;
}
.entryContent h2 a {
  color: #010f67;
  text-decoration: none;
}
.entryContent h2 a:visited {
  color: #010f67;
}
.entryContent h2 a:hover {
  color: #021799;
  text-decoration: underline;
}
@media screen and (max-width: 620px) {
  .entryContent h2 {
    font-size: 1em;
    padding: 0 4.9%;
  }
}
.entryContent h3 {
  color: #010f67;
  font-weight: 600;
  font-size: 1em;
  margin: 0.6em 0;
  padding: 0 10.9%;
}
.entryContent h3 a {
  color: #010f67;
  text-decoration: none;
}
.entryContent h3 a:visited {
  color: #010f67;
}
.entryContent h3 a:hover {
  color: #021799;
  text-decoration: underline;
}
@media screen and (max-width: 620px) {
  .entryContent h3 {
    font-size: 1em;
    padding: 0 4.9%;
  }
}
.entryContent ul {
  padding: 0 10.9%;
}
.entryContent p {
  font-weight: normal;
  padding: 0 10.9%;
  margin: 0 0 2em 0;
  max-width: 800px;
}
@media screen and (max-width: 620px) {
  .entryContent p {
    padding: 0 4.9%;
  }
}
.entryContent p.imageEntry {
  padding: 0 10.9%;
  max-width: 1024px;
}
@media screen and (max-width: 1024px) {
  .entryContent p.imageEntry {
    padding: 0;
  }
}
.entryContent > div.embed {
  padding: 0 10.9%;
}
@media screen and (max-width: 620px) {
  .entryContent > div.embed {
    padding: 0 4.9%;
  }
}
.entryContent img {
  display: block;
  width: 100%;
  height: auto;
}
.entryContent .readMore,
.entryContent .blogHome {
  display: inline-block;
  line-height: 0.7em;
  font-weight: 400;
  font-size: 0.9em;
  padding: 0.6em 0.8em;
  position: relative;
  color: white;
  background: #E70128;
  background: -moz-linear-gradient(top, #E70128 0%, #ba0909 100%);
  background: -webkit-linear-gradient(top, #E70128 0%, #ba0909 100%);
  background: linear-gradient(to bottom, #E70128 0%, #ba0909 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topCol', endColorstr='@baseCol', GradientType=0);
  text-decoration: none;
  border: 1px solid rgba(20, 0, 0, 0.2);
  border-radius: 6px;
}
.entryContent .readMore:active,
.entryContent .blogHome:active,
.entryContent .readMore:visited,
.entryContent .blogHome:visited {
  color: white;
}
.entryContent .readMore:hover,
.entryContent .blogHome:hover,
.entryContent .readMore:visited:hover,
.entryContent .blogHome:visited:hover {
  color: white;
  background: #ce0124;
  background: -moz-linear-gradient(top, #ce0124 0%, #a20808 100%);
  background: -webkit-linear-gradient(top, #ce0124 0%, #a20808 100%);
  background: linear-gradient(to bottom, #ce0124 0%, #a20808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topCol', endColorstr='@baseCol', GradientType=0);
}
.entryContent .readMore:after {
  content: url("resources/blank.gif");
  display: inline-block;
  vertical-align: top;
  width: 0.6em;
  height: 0.79em;
  margin-left: 0.6em;
  margin-bottom: 0.1em;
  background-color: transparent;
  background-image: url("resources/double-arrow-white.svg");
  background-position: 0 2px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.entryContent .entryDate {
  display: inline-block;
  font-size: 0.7em;
  line-height: 0.7em;
  font-weight: 700;
  padding: 0.8em 0.1em;
  color: #010f67;
  border-top: 2px solid #ba0909;
}
@media screen and (max-width: 620px) {
  .entryContent {
    font-size: 1.2em;
    line-height: 1.6em;
  }
}
.baseLinks {
  font-size: 1.8em;
  line-height: 1.8em;
  padding: 2em 10.9% 2.5em 10.9%;
  border-top: 2px solid #c8cfea;
}
.baseLinks a {
  display: inline-block;
  line-height: 0.7em;
  font-weight: 400;
  font-size: 0.9em;
  padding: 0.6em 0.8em;
  margin-right: 1em;
  position: relative;
  color: white;
  background: #3b77cb;
  background: -moz-linear-gradient(top, #3b77cb 0%, #1755ac 100%);
  background: -webkit-linear-gradient(top, #3b77cb 0%, #1755ac 100%);
  background: linear-gradient(to bottom, #3b77cb 0%, #1755ac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topCol', endColorstr='@baseCol', GradientType=0);
  text-decoration: none;
  border: 1px solid rgba(0, 20, 0, 0.1);
  border-radius: 6px;
}
.baseLinks a:active,
.baseLinks a:visited {
  color: white;
}
.baseLinks a:hover,
.baseLinks a:visited:hover {
  color: white;
  background: #2c5fa7;
  background: -moz-linear-gradient(top, #2c5fa7 0%, #113f7f 100%);
  background: -webkit-linear-gradient(top, #2c5fa7 0%, #113f7f 100%);
  background: linear-gradient(to bottom, #2c5fa7 0%, #113f7f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topCol', endColorstr='@baseCol', GradientType=0);
}
.baseLinks .olderPosts:before {
  content: url("resources/blank.gif");
  display: inline-block;
  vertical-align: top;
  width: 0.6em;
  height: 0.79em;
  margin-right: 0.6em;
  margin-bottom: 0.1em;
  background-color: transparent;
  background-image: url("resources/double-arrow-white-points-left.svg");
  background-position: 0 2px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.baseLinks .newerPosts:after {
  content: url("resources/blank.gif");
  display: inline-block;
  vertical-align: top;
  width: 0.6em;
  height: 0.79em;
  margin-left: 0.6em;
  background-color: transparent;
  background-image: url("resources/double-arrow-white.svg");
  background-position: 0 2px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media screen and (max-width: 620px) {
  .baseLinks {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 1.25em 4.9%;
  }
}
.footer {
  font-size: 1.1em;
  line-height: 1.4em;
  background-color: #021799;
  color: white;
  padding: 1.25em 10.9% 2.5em 10.9%;
}
.footer p {
  max-width: 800px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: white;
}
@media screen and (max-width: 620px) {
  .footer {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 1.25em 4.9%;
  }
}
